---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Welcome to the Journey"
	pubDate={new Date('August 09 2025')}
>
	<p>
		Welcome! My name is Glenn Lewis, and I am a Senior Cloud Engineer at Surepoint with over a decade of experience in the tech industry.	
	</p>
	<p>
		I will be using this site to share my knowledge on tech, progress on my projects, and my experience in my fitness journey.
	</p>
	<p>
		I currently live in Austin, TX, and enjoy going to the gym, running, playing MTG Commander, and playing guitar.
	</p>
</Layout>
