---
import AboutHeroImage from '../assets/gkirby.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Welcome to the Journey"
	pubDate={new Date('August 09 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Welcome! My name is Glenn Lewis, and I am a Senior Infrastructure Security Engineer at DigitalOcean with over a decade of experience in the tech industry.	
	</p>
	<p>
		I will be using this site to share my knowledge on tech, my thoughts, and my experience in my fitness journey.
	</p>
	<p>
		I currently live in Houston, TX, and enjoy going to the gym, running, and playing guitar.
	</p>
</Layout>
